	@charset "UTF-8";
	/* CSS Document */
	body 
	{
		margin:0px;
		padding:0px;
		border: 0px;
		width:1024px;
		height:768px;
		background-repeat:no-repeat;
		
	}
	
    img
    {
     	margin: 0px;
        padding: 0px;
        border: 0px;
    }
	#beijing
	{
		width:1024px;
		height:768px;	
		
	}
	#zhongjianbj
	{
		background: url(../image/zhongjianbj.png) no-repeat 0 -30px;
		width: 942px;
        height: 743px;
		margin: 0 auto;
		position: relative;
	
	}
	#content
	{
		float: left;
		overflow:
		hidden;
		width: 692px;
		height:680px;

	}
	#zhongjiantop
	{
		margin-top: 30px;
		height: 70px;
		text-align: center;
	}
	#TANwenzi
	{
		vertical-align: top;
		margin-left:220px;
	}
	#soccer
	{
		vertical-align: middle;
	}
	#caiseziti
	{
	    vertical-align: middle;
    }
	
	#shipinneirong
	{
		margin-top: 57px;
		margin-left: 50px;
		height:600px;
		width:600px;
							
	}
	#mov
	{
		width:692px;
		height:440px;
		top:0px;
		left:-15px;
	}
	#maskLayer
	{
		
		width:650px;
		height:440px;
		text-align:center;
		position:absolute;
		z-index:999;
		left:42px;
		top:158px;
		filter:alpha(opacity=0);
		
	}
	#youbian
	{
		float: left;
		position: relative;
		overflow: hidden;
		width: 240px;
		height: 700px;
        background: url(../image/youbiantp.png) no-repeat 0 -15px;
		z-index: 999;
		
	}
	#mf6tubiao
	{
	position: absolute;
	z-index: 99999;
	left: 693px;
	top: 0px;

	
	}
	#tubiao
	{
		margin: 10px 0px 0px 55px;
								
	}
	
	#mf6ball
	{
		margin: 10px 0px 0px 54px;
								
	}
	
	#dibu
	{
		clear: both;
		height: 1px;
		width: 100%;
	}
	
	#foot
	{
		height: 60px;
		width: 100%;
		position: absolute;
		bottom: 0px;
		left: 0px;
	}
	#footyingyin
	{
	height: 60px;
	width: 1024px;
	position: absolute;
	background-color: #000;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	z-index: 2;
	left: -42px;
	
	}
	#foottext
	{
	height: 60px;
	line-height:60px;
	vertical-align:middle;
	width: 910px;
	position: absolute;
	color: White;
	padding-left: 20px;
	font-size: 18px;
	font-weight: bold;
	z-index: 2;
	left: 32px;
	}
